@charset "UTF-8";
.a{
  background-color: rgb(166, 111, 111);
  color: #000;
}
#a{
  background-color: rgb(166, 111, 111);
  color: #000000;
  margin-left: 30%;
  font-size: 200%;
}
#aa{
  background-color: rgb(166, 111, 111);
  color: #000000;
  margin-left: 10%;
  font-size: 200%;
}
#title {
  background-color: rgb(166, 111, 111);
font-size: 200%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: 0%;
}

#head_Link{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -3%;
  float: left;
  margin-left: 10%;
  color: #000;
}

.noto{
  font-size: 200%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: -1%;
}

.abaut{
  font-size: 125%;
}

#siso{
  background-color: rgb(232, 108, 108);
}
#re{
  background-color: rgb(120, 120, 237);
}